<div class="products-container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex align-items-center gap-2">
      <i class="bi bi-box-seam fs-4 text-primary"></i>
      <h3 class="page-title">Lista de Produtos</h3>
    </div>

    <button class="btn btn-primary new-product-btn" (click)="createProduct()">
       <i class="fa-solid fa-plus me-2"></i> Novo Produto
    </button>
  </div>

  <div class="card shadow-sm p-4 rounded-4 table-card">
    <div class="table-responsive">
      <table class="table align-middle modern-table">
        <thead>
          <tr>
            <th>CÓDIGO</th>
            <th>DESCRIÇÃO</th>
            <th>SALDO</th>
            <th>PREÇO</th>
            <th class="text-end">AÇÕES</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of products">
            <td class="fw-bold">{{ p.code }}</td>
            <td>{{ p.description }}</td>

            <td>
              <span
                class="stock-badge"
                [class.stock-green]="p.stockQuantity > 0"
                [class.stock-red]="p.stockQuantity === 0"
              >
                {{ p.stockQuantity }}
              </span>
            </td>

            <td>{{ p.formattedPrice }}</td>

            <td class="text-end actions-column">
              <button
                class="action-btn me-2"
                (click)="editProduct(p)"
                title="Editar"
              >
                <i class="fa-solid fa-pen"></i>
              </button>

              <button
                class="action-btn delete-btn"
                (click)="deleteProduct(p)"
                title="Excluir"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-product-form-modal
  *ngIf="showFormModal"
  [isEdit]="selectedProduct !== null"
  [formData]="formData"
  [errors]="formErrors"
  (onSave)="saveProduct($event)"
  (onCancel)="showFormModal = false">
</app-product-form-modal>


<app-product-delete-modal
  *ngIf="showDeleteModal"
  [productName]="selectedProduct?.description || ''"
  (onConfirm)="confirmDelete()"
  (onCancel)="showDeleteModal = false">
</app-product-delete-modal>
